:root {
    --font-size:         1rem;

    --border-color:      var(--pico-muted-border-color);
    --accent-color:      var(--pico-color-pumpkin);

    --link-active-color: var(--accent-color);

    --route-color:       var(--pico-muted-color);
    --route-param-color: var(--pico-primary);
    --route-value-color: var(--accent-color);

    --danger-color:      var(--pico-del-color);

    --h2-color:          var(--pico-primary);
    --h3-color:          var(--pico-secondary);
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* TEXT ---------------------------------------- */

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.2em;
    text-align: center;
}

:is(h1, h2, h3, h4, h5, h6):not(:first-child) {
    margin-top: 2em;
}

h2 { color: var(--h2-color); }
h3 { color: var(--h3-color); }



/* HEADER ---------------------------------------- */

#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 2rem;
}

#main-header > * {
    margin: 0;
}

#main-header > a {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}


/* FOOTER ---------------------------------------- */

#main-footer {
    text-align: center;
    border-top: 1px solid var(--border-color);
    margin-top: 2rem;
}


/* NAV ---------------------------------------- */

#main-nav {
    align-items: center;
    font-size: 1.1rem;
}

#main-nav menu {
    margin: 0;
}


#main-nav a[aria-current="page"] {
    color: var(--link-active-color);
    text-decoration: underline;
}


/* MAIN ---------------------------------------- */

main {
    flex: 1;
    max-width: 60rem;
}

main.hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}


/* LAYOUT ---------------------------------------- */

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

article {
    border: 1px solid var(--border-color);
    min-height: 6rem;
}

article:only-of-type {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

article :is(h1, h2, h3, h4, h5, h6) {
    text-align: left;
    color: unset;
}


/* EXAMPLES ---------------------------------------- */

ul.routes {
    font-weight: bold;
    font-family: monospace;
    font-size: var(--font-size);
    color: var(--route-color);
}

ul.routes em {
    font-style: normal;
    color: var(--route-param-color);
}

ul.routes strong {
    font-style: normal;
    color: var(--route-value-color);
}

button.danger {
    background-color: var(--danger-color);
    border-color: var(--danger-color);
}
